body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.rockets-continer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.rocket-card {
}

header {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
